@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
 font-family: 'Nanum Gothic', sans-serif;
}


#community{
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    padding-top:2%;  
}

#category2{
    margin-top:1%;
    margin-left:30%;
}

.nav-container2{
    display: flex;
    flex-direction: row;
    margin:0;
    padding:0;
    list-style-type: none;   
}

.nav-item2{
    padding:10px;
    cursor:pointer;
}

.nav-item2 a{
    text-align:center;
    text-decoration:underline;
    color:#696969;
    display:flex;
    align-items: center;
    font-size:20px;
    font-weight:400;
    line-height:35px;
}


#write-btn{
    background-color: #21517D;
    width:5vw;
    height:4vh;
    text-align: center;
    position: absolute;
    margin-left:40%;
    margin-top:-2%;
    font-size:13px;
}
.page-nation li{
    list-style:none;
}

.page-nation{
    position: relative;
    margin-left:40%;

}

.page-nation a{
    float:left;
    text-align: center;
    width:25px;
    height:25px;
    line-height:24px;
    background-color:#fff;
    font-size:13px;
    color:#878787;
    font-weight:bold;
}

.main{
    margin-top:2%;
    padding-left:26%;
    padding-right:26%;

}

/* .table{
    height:20vh;
} */

table,tr,td{
    border:1px solid #000000;
    width:1209px;
    height:64px;
    border:none;
}

.page-wrap{
    padding-bottom:15%;
}