header{
    /* 헤더 상단 고정 
    position: fixed;
    width: 100%; */
     margin-top: 1%; 
} 

/* 검색바 */
.logoAndSearch {
    padding-bottom: 0.5%;
    text-align: center;
}

#logoImg {
    width: 100px;
}

.dropdown {
    display: inline-flex;
    /* margin-left: 5%; */
    margin-top: 2%;
    width: 40vw;
    height: 40px;
}

/* 메인 메뉴바 */
.mainCategory {
    padding: 0.5%;
    text-align: center;
    word-spacing: 6vw;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    display: flex;

    list-style-type: none;
    color: black;

    margin-left: 28.5%;
}

.categoryExhibition{
    margin-left: 10%;
}

.categoryFestival{
    margin-left: 10%;
}

.categoryCategory{
    margin-left: 10%;
}

.mainCategory li{
    list-style: none;
}

.mainCategory a {
    text-decoration: none;
    color: inherit;
}

/* 전시 상세페이지 */
.exhibition_name{
    margin-left: 30%;
    margin-top: 2%;
    font-weight: bold;
}

.exhibition_info{
    display: flex;
    font-size: 17px;
    margin-top: 2%;
}

.info{
    list-style-type: none;
    font-weight: bold;
}

.info_detail{
    list-style-type: none;
}

#left{
    margin-left: 30%;
}

#mid{
    margin-left: 3%;
}

#right{
    margin-left: 5%;
}

/* 공유하기 버튼 */
.share{
    display: flex;
    
    margin-left: 30%;
    margin-top: auto;
    color: black;
}

.share li{
    cursor: pointer;
}

.share #mail_share{
    margin-top: 0.6%;
    margin-left: 3%;
}

.share #link_share{
    margin-top: 0.3%;
    margin-left: 3%;
}

.share #detail_web{
    margin-top: 0.4%;
    margin-left: 3%;
}

.share img{
    padding: 3px;
}

.detail_info{
    margin-left: 30%;
}

.detail_img{
    margin-left: 30%;
}

.share li {
    list-style: none;
}

.share a {
    text-decoration: none;
    color: inherit;
}

/* footer */
footer{
    background-color: #21517D;
    color: white;
    text-align: center;
    font-size: 12px;

    margin-top: 2%;

    height: 50px;
}