

header{
    /* 헤더 상단 고정 
    position: fixed;
    width: 100%; */
     margin-top: 1%; 
} 
.dropdown {
    display: inline-flex;
    /* margin-left: 5%; */
    margin-top: 1%;
    width: 40vw;
    height: 40px;
}



#mainCategory {
    background-color: #21517D;
    color: white;
    padding: 0.5%;
    text-align: center;
    word-spacing: 6vw;

    font-size: 16px;
    font-weight: bold;
}



#category span {
    cursor: pointer;
}


#logoAndSearch {
    padding-bottom: 0.5%;
    text-align: center;
    
}



#logoImg {
    width: 100px;

}
