header{
    /* 헤더 상단 고정 
    position: fixed;
    width: 100%; */
     margin-top: 1%; 
} 
.dropdown {
    display: inline;
}

#category {
    background-color: rgb(30, 70, 142);
    color: white;
    padding: 0.5%;
    text-align: center;
    word-spacing: 6vw;
}

#category span {
    cursor: pointer;
    font-size: larger;
}

#category span:hover{
    color: rgb(196, 193, 193);
}

#logoAndSearch {
    padding-bottom: 0.5%;
    text-align: center;
    
}

#searchBarInput {
    width: 35%;
    height: 4vh;
    text-align: center;
    vertical-align: middle;
}


#logoImg {
    width: 100px;
}
